/*
* I am pretty sure I got this from somewhere... It was either GitHub or a friend gave it to me.
* Either way, kudos to them, and I probably don't own this ;)
*/

$column-count: 12 !default;
$gutter-size: 0.5rem !default;

$row: 'row' !default;
$col: 'col' !default;
$off: 'off' !default;

$breakpoints: ((xs), (sm, 768px), (md, 992px), (lg, 1200px)) !default;

@function get-col-percent($column-num) {
  @return $column-num / $column-count * 100%;
}

@mixin spacing( $value, $type: margin, $orientation: vertical ) {
  @if $orientation == vertical {
    #{$type}-top: $value;
    #{$type}-bottom: $value;
  } @else {
    #{$type}-left: $value;
    #{$type}-right: $value;
  }
}

.#{$row} {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include spacing((-$gutter-size), margin, horizontal);
}

%#{$col} {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  @include spacing(($gutter-size), padding, horizontal);
}

%#{$col}-flex {
  @extend %#{$col};
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

@mixin grid-base( $namespace ) {
  .#{$col}-#{$namespace} {
    @extend %#{$col}-flex;
  }

  @for $i from 1 through $column-count {
    .#{$col}-#{$namespace}-#{$i} {
      @extend %#{$col};
    }
  }
}

@mixin grid-sizes( $namespace ) {
  @for $i from 1 through $column-count {
    .#{$col}-#{$namespace}-#{$i} {
      flex-basis: get-col-percent($i);
      max-width: get-col-percent($i);
    }
  }

  @for $i from 1 through $column-count {
    @if ($i != $column-count) {
      .#{$off}-#{$namespace}-#{$i} {
        margin-left: get-col-percent($i);
      }
    }
  }
}

@each $val in $breakpoints {
  $namespace: nth($val, 1);
  @include grid-base($namespace);
}

@each $val in $breakpoints {
  @if length($val) == 1 {
    // Remember, sm size does not need a min size
    $namespace: nth($val, 1);
    @include grid-sizes($namespace);
  } @else {
    $namespace: nth($val, 1);
    $size: nth($val, 2);
    @media only screen and (min-width: #{$size}) {
      @include grid-sizes($namespace);
    }
  }
}
