
/*
* My favorite function... Turns a regular RGB color into a pastel version of that color.
* <3 u Mike!
*/
@function pastelize($r,$g,$b) {
    $red: $r / 255.0;
    $green: $g / 255.0;
    $blue: $b / 255.0;
    $max: max($red, $green, $blue);
    $min: min($red, $green, $blue);
    $chroma: $max - $min;
    $hue: 0;
    @if $chroma == 0 {
        $hue: 0;
    }
    @elseif $red == $max {
        $hue: 60 * ((($green - $blue) /$chroma +6) %6);
    }
    @elseif $green==$max {
        $hue: 60 * ((($blue - $red) /$chroma +2) %6);
    }
    @elseif $blue == $max {
        $hue: 60 * ((($red - $green) /$chroma +4) %6);
    }
    @else {
        $hue: 0;
    }
    $value: $max;
    $saturation: 0;
    @if $chroma == 0 or $value == 0 {
        $saturation: 0;
    }
    @else {
        $saturation: $chroma / $value;
    }
    $saturation: $saturation / 2;
    $value: $value / 2 + 0.5;
    $r2: 0;
    $g2: 0;
    $b2: 0;
    $h: ($hue / 60) % 6;
    $chroma: $value * $saturation;
    $v: $value - $chroma;
    $x: $chroma * (1 - abs($h % 2 - 1));
    $temp: round($h);
    @if $temp == 0 {
        $r2: $chroma;
        $g2: $x;
        $b2: 0;
    }
    @elseif $temp == 1 {
        $r2: $x;
        $g2: $chroma;
        $b2: 0;
    }
    @elseif $temp == 2 {
        $r2: 0;
        $g2: $chroma;
        $b2: $x;
    }
    @elseif $temp == 3 {
        $r2: 0;
        $g2: $x;
        $b2: $chroma;
    }
    @elseif $temp == 4 {
        $r2: $x;
        $g2: 0;
        $b2: $chroma;
    }
    @elseif $temp == 5 {
        $r2: $chroma;
        $g2: 0;
        $b2: $x;
    }
    $red: $r2+$v;
    $green: $g2+$v;
    $blue: $b2+$v;
    $r: round(max(0, min(255, round($red * 255))));
    $g: round(max(0, min(255, round($green * 255))));
    $b: round(max(0, min(255, round($blue * 255))));
    @return rgb($r, $g, $b);
}

body {
    background-color: pastelize(0,0,255);
    //background-color: pastelize(0,255,0);
    //background-color: pastelize(255,0,0);
    //background-color: pastelize(255,0,255);
    //background-color: pastelize(0,255,255);
    //background-color: pastelize(255,255,0);
}
